<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/dcaa533f35.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesbase.css') }}">
    <title>WattHome</title>
</head>
<body>
    <div id="header">WATHOME<i class="fa-solid fa-plug"></i></div>
    <div id="menu">
            <div class="opt">Actual Usage</div>
            <div class="opt">Daily Usage</div>
            <div class="opt">Monthly Usage</div>
            <div class="opt">Settings</div>
            <div class="opt">Logout</div>
    </div>
    <main>
        
    </main>
</body>
</html>