<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/dcaa533f35.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesbase.css') }}">
    <title>WattHome</title>
</head>
<body>
    <div id="header"><i class="fa-brands fa-facebook"></i><i class="fa-brands fa-instagram"></i>WATTHOME<i class="fa-solid fa-plug"></i></div>
    <div id="menu">
            <h1>WattHome</h1>
            <i class="fa-solid fa-plug" id="logo"></i>
            <a href="{{ url_for('actualusage') }}"><div class="opt">Actual Usage</div></a>
            <a href="{{ url_for('dailyusage') }}"><div class="opt">Daily Usage</div></a>
            <a href="{{ url_for('monthlyusage') }}"><div class="opt">Monthly Usage</div></a>
            <a href="{{ url_for('settings') }}"><div class="opt">Settings</div></a>
    </div>
    <main>
        {%block content%}

        {% endblock %}
    </main>
</body>
</html>