{% extends 'base.html' %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylessettings.css') }}">
{% endblock %}

{% block title %}Daily Usage{% endblock %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/plotly.js-dist-min@2.10.0"></script>

<h1>Daily Usage</h1>
<div id="chart"></div>
<script>
    // Wczytanie danych wykresu w formacie JSON
    var graphData = {{ graph_json | safe }};
    
    // Tworzenie wykresu na stronie za pomocą Plotly
    Plotly.newPlot('chart', graphData);
</script>
{% endblock %}  